@model SimpleQueue.WebUI.Models.ViewModels.GetQueueViewModel
@{
    ViewData["Title"] = "Queue";
}

<link rel="stylesheet" href="~/css/get-queue.css" asp-append-version="true" />

<div class="main-body">
    <div class="queue-info">
        <div class="queue-image-container">
            <img src="~/images/queue/queue-image.svg">
        </div>
        <div class="container-for-info">
            <div class="queue-information">
                <div class="queue-title">
                    @Model.Title
                </div>
                <div class="queue-description">
                    @Model.Description
                </div>
            </div>
            <div class="queue-info-right-part">
                <img class="edit-queue-image" src="~/images/queue/edit-icon.svg">
                <div class="status-queue-image" style=@(Model.isFrozen == false ? "background-color:#82FF9D":"")></div>
            </div>
        </div>
        
    </div>
    <div class="queue-content">
        <div class="user-in-queue-container">
            @foreach (var user in Model.Users)
            {
                <div class="user-position" id="user-@user.Id">
                    <div class="user-info">
                        <div class="user-name">
                            @user.Username
                        </div>
                        <div class="delete-user">
                            <input onclick="deleteUserFromQueue('@user.Id')" id="trash-image-@user.Id" type="image" src="~/images/queue/trash-icon.svg" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="queue-controll-panel">
            <div class="controll-buttons">
                <div class="people-in-queue controll-object">
                    <div class="number-of-people">@Model.Users.Count()</div>
                    <div class="in-queue">In Queue</div>
                </div>
                @if(User.Identity.IsAuthenticated && Model.YourId == Model.OwnerId){
                    <button class="next-button controll-object">
                        <div class="next-text">Next</div>
                    </button>
                    <button class="deactivate-button controll-object">
                        <div class="deactivate-text">Deactivate</div>
                    </button>
                }
                else{
                    <button class="next-button controll-object">
                        <div class="next-text">Your position</div>
                    </button>
                    <button class="deactivate-button controll-object">
                        <div class="deactivate-text">Enter</div>
                    </button>
                }
                <button class="end-button controll-object">
                    <div class="end-text">Click</div>
                </button>               
            </div>
        </div>
    </div>
</div>

<script src="~/js/get-queue.js" asp-append-version="true"></script>